.background-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.hero-full-container {
    height: 100vh;
}

.bmg_image {
    background-image: url("../images/black1.jpg");
}

.experince {
    color: white;
}

#about {
    color: white;
}

.form-group {
    color: white;
}

.heading {
    color: white;
}

.image-container {
    padding: 30px;
    display: inline-block;

}
.nav-email{
    color: white;
}

.nav-link{
    color: white;
}

.navbar-custom{
    background-color: orange;
}

.form-new{
    padding-top: 20px;
}

.heading-p{
    padding-top: 20px;
    color: white;
}

.experince{
    padding-top: 20px;
}

.img-responsive{
    padding-top: 20px;
}

