.background-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.hero-full-container {
    height: 100vh;
}
.bmg_image{
    background-image: url("../images/black1.jpg");
}