<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skills</title>
    <link rel="favicon." sizes="180x180" href="../logos/favicon.ico">
    <link href="../logos/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/style.css" rel="stylesheet">

    <div class="bmg_image">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="skills.html">Skills<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="about.html">About<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="contact.html">Contact<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>


        </nav>
    </div>

</head>
<body>


<div class="hero-full-container background-image-container white-text-container"
     style="background-image: url('../images/black1.jpg')">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0 section-container-spacer">
                <div class="text-left">
                    <h2 class="heading">Programming</h2>
                </div>
                <div class="col-xs-12 col-md-6">

                    <img src="../logos/python.png" width="90" class="images" alt="python">

                    <span class="image-container">
                        <img src="../logos/html-css-js.png" width="90" class="images" alt="htm-css-js">
                        </span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0 section-container-spacer">
                <div class="text-left">
                    <h2 class="heading">Frameworks</h2>
                </div>
                <div class="col-xs-12 col-md-6">

                    <img src="../logos/flask.png" width="90" class="images" alt="python">

                    <span class="image-container">
                        <img src="../logos/python-django.png" width="90" class="images" alt="htm-css-js">
                        </span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0 section-container-spacer">
                <div class="text-left">
                    <h2 class="heading">Database</h2>
                </div>
                <div class="col-xs-12 col-md-0">

                    <img src="../logos/my-sql.png" width="90" class="images" alt="python">

                    <span class="image-container">
                        <img src="../logos/oracle-database-logo.png" width="90" class="images" alt="htm-css-js">
                        </span>
                    <span class="image-container">
                        <img src="../logos/postgresql.png" width="90" class="images" alt="htm-css-js">
                        </span>
                    <span class="image-container">
                        <img src="../logos/mongo.jpg" width="90" class="images" alt="htm-css-js">
                        </span>
                    <span class="image-container">
                        <img src="../logos/influxdb-grafana.png" width="90" class="images" alt="htm-css-js">
                        </span>
                </div>
            </div>
        </div>
            <p></p>
          <div class="row">
            <div class="col-sm-12 col-sm-offset-0 section-container-spacer">
                <div class="text-left">
                    <h2 class="heading">DevOps</h2>
                </div>
                <div class="col-xs-12 col-md-6">

                    <img src="../logos/anisble.png" width="90" class="images" alt="python">

                    <span class="image-container">
                        <img src="../logos/docker.png" width="90" class="images" alt="htm-css-js">
                        </span>
                    <span class="image-container">
                        <img src="../logos/jenkins.jpg" width="90" class="images" alt="htm-css-js">
                        </span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0 section-container-spacer">
                <div class="text-left">
                    <h2 class="heading">Frameworks</h2>
                </div>
                <div class="col-xs-12 col-md-6">

                    <img src="../logos/aws.png" width="90" class="images" alt="python">


                </div>
            </div>
        </div>

</div>



</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>


</html>